* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(233, 47%, 7%);
  color: aliceblue;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;

  max-width: 700px;

  height: 500px;
  background-color: hsl(244, 37%, 16%);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

img {
  display: flex;
  width: 50%;
  background-color: hsl(277, 60%, 37%);
  filter: grayscale(50%) sepia(100%) hue-rotate(290deg); 
}
